[user]
    name = arve0
    email = arve.seljebu@gmail.com
[push]
    default = simple
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f

[alias]
    a = add
    aa = add .
    aaa = add . --all
    b = branch
    c = commit -m
    ca = commit -am
    ch = checkout
    cl = !sh -c 'git clone https://github.com/$1' -
    d = diff
    drt = !sh -c 'git push origin :refs/tags/$1' -
    ds = diff --staged
    dt = difftool
    l = log --decorate --oneline
    p = push
    pt = push --tags
    r = remote
    s = status
    unstage = reset HEAD --
    amend = commit --amend
    last = log -1 HEAD
[credential]
    helper = osxkeychain
[core]
    editor = vim
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[difftool]
	prompt = false
