# user config in ~/git/.gitconfig and ~/KNOWIT-git/.gitconfig
#[user]
#    name = Arve Seljebu
#    email = arve.seljebu@gmail.com
[push]
    default = current
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f

[includeIf "gitdir:~/KNOWIT-git/"]
    path = ~/KNOWIT-git/.gitconfig

[includeIf "gitdir:~/git/"]
    path = ~/git/.gitconfig

[alias]
    a = add
    aa = add .
    aaa = add . --all
    b = branch
    c = commit -m
    ca = commit -am
    ch = checkout
    cl = !sh -c 'git clone https://github.com/$1' -
    d = diff
    drt = !sh -c 'git push origin :refs/tags/$1' -
    ds = diff --staged
    l = log --decorate --oneline -n 15
    ll = log --decorate --oneline
    p = push
    pt = push --tags
    pl = pull
    r = remote
    s = status
    unstage = reset HEAD --
    amend = commit --amend
    last = log -1 HEAD
[credential]
    helper = osxkeychain
[core]
    editor = vim
